server {
	listen 443 ssl;
	server_name grafana-ahmadmun.studentdumbways.my.id;

	ssl_certificate /etc/letsencrypt/live/studentdumbways.my.id/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/studentdumbways.my.id/privkey.pem;
	
	location / {
		proxy_pass http://grafana:3000;
		proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-Host $host;
		proxy_set_header X-Forwarded-Proto $scheme;
                proxy_set_header X-Forwarded-Port $server_port;
	}
	
}

server {
        listen 443 ssl;
        server_name prometheus-ahmadmun.studentdumbways.my.id;

        ssl_certificate /etc/letsencrypt/live/studentdumbways.my.id/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/studentdumbways.my.id/privkey.pem;

        location / {
                proxy_pass http://prometheus:9090;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-Host $host;
                proxy_set_header X-Forwarded-Proto $scheme;
                proxy_set_header X-Forwarded-Port $server_port;
        }

}

server {
        listen 443 ssl;
        server_name exporter-ahmadmun.studentdumbways.my.id;

        ssl_certificate /etc/letsencrypt/live/studentdumbways.my.id/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/studentdumbways.my.id/privkey.pem;

        location / {
                proxy_pass http://node-exporter:9100;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-Host $host;
                proxy_set_header X-Forwarded-Proto $scheme;
                proxy_set_header X-Forwarded-Port $server_port;
        }

}
